body
{
    background-image: url("https://i0.wp.com/img.freepik.com/free-vector/pink-organic-shape-background_53876-97811.jpg?size=626&ext=jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.heading
{
    width: 100%;
}